<aside>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}
</style>

	<div class="panel radius">
		<a href="https://www.linkedin.com/in/isaurabhkumar/" target="_blank" class="fa fa-linkedin"></a>
	</div>

	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}profile_pic.jpg" alt="Saurabh Kumar">
	</div>
	
	<div class="panel radius">
		<h3>Note to my readers</h3>
		<p>
			All the posts and content shared on this blog are written by me. The ideas, views and opinions presented
			in the posts are my own and based on my personal experiences. Please feel free to share your feedback 
			in the comments sections.
			<br>
			Thanks,
			<br>
			Saurabh Kumar
		</p>
	</div>

</aside>