<aside>
	<div class="panel radius">
		<h3>Note to my readers</h3>
		<p>
			All the posts and content shared on this blog are written by me. The ideas, views and opinions presented
			in the posts are my own and based on my personal experiences. Please feel free to share your feedback 
			in the comments sections.
			<br>
			Thanks,
			<br>
			Saurabh Kumar
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Connect+with+me" alt="">


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}profile_pic.jpg" alt="Saurabh Kumar">
		<p class="text-left">
			Lets be friends. Connect with me on
			<a href="https://www.facebook.com/isaurabhkumargupta/">Facebook!</a>
		</p>
	</div>
</aside>